.slider h3,
.slider h5,
.payment h3
.produk h3 {
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5) 
}

.parallax-container {
	height: 240px;
}

.parallax img {
	filter: grayscale(1);
	opacity: 0.5 !important;
}
.payment img {
	max-width: 150px;
	filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.8));
}

section {
	padding: 20px 0;
}

footer {
	padding: 1px 0
}